name: Manual Publish to Play Store

on:
  workflow_dispatch:
    inputs:
      release_ref:
        description: 'Release branch or tag to build and publish (e.g., release/1.0.1 or v1.0.1)'
        required: true
        default: 'release/0.0.0'
      play_store_track:
        description: 'Play Store track (e.g., internal, alpha, beta, production)'
        required: true
        default: 'internal'
        type: choice
        options:
          - internal
          - alpha
          - beta
          - production

jobs:
  build_and_publish_release:
    name: Build & Publish to Play Store
    runs-on: ubuntu-latest
    environment:
      name: play-store-${{ github.event.inputs.play_store_track }}
      url: https://play.google.com/console

    steps:
      - name: Checkout specific release reference
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.release_ref }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run [unit tests][detekt][Android Lint][jacoco] (Release)
        run: ./gradlew lintRelease detekt testDebugUnitTest jacocoTestReport

      - name: Build and Sign Release AAB
        env:
          ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
        run: ./gradlew bundleRelease

      - name: Upload Release Bundle
        uses: actions/upload-artifact@v4
        with:
          name: app-release-candidate-${{ github.sha }}
          path: |
            app/build/outputs/bundle/release/app-release.aab
            app/build/outputs/mapping/release/mapping.txt
            app/build/outputs/mapping/release/seeds.txt
            app/build/outputs/mapping/release/usage.txt
            app/build/outputs/mapping/release/configuration.txt
            app/build/reports/detekt
            app/build/reports/tests/testReleaseUnitTest
            app/build/reports/coverage/test/debug
            app/build/reports/lint-results-release.html
          retention-days: 60


      - name: Publish AAB to Google Play
        uses: r0adkll/upload-google-play@v1.0.19
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_JSON_KEY }}
          packageName: "org.dsh.personal.sudoku"
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          mappingFile: app/build/outputs/mapping/release/mapping.txt
          track: ${{ github.event.inputs.play_store_track }}
          status: draft # Or 'draft', 'inProgress'
          # userFraction: 0.1 # For staged rollouts, if needed
          # whatsNewDirectory: 'path/to/whatsnew/' # For release notes